.bg{
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    width: 100%;
    max-width: unset;
    position: relative;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-contact{
    padding-top: 230px;
    padding-bottom: 200px;
    background-image: url(../images/contact/girl-s-hands-with-delicate-purple-manicure-orchid-flowers-scaled.jpg);
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    background-size: cover !important;
}
.bg-contact .description{
    font-family: Parisienne; 
    font-size: 170%; 
    color: #FFFFFF;
    font-weight: bold;
}
.bg-overlay{
    background-color: rgba(255, 255, 255, 0.73);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg-about-us{
    background-image: url(../images/about-us/pink-nail-design-female-hands-with-glitter-manicure-scaled.jpg);
    background-repeat: no-repeat !important;
    background-position: 50% 50%;
    background-size: cover !important;
    height: 600px;
}

.bg-linear-green-blue{
    background: linear-gradient(to right, RGBA(46,204,113,1) 0%,RGBA(69,85,239,1) 100%);
}
.bg-linear-blue{
    background: linear-gradient(to right, RGBA(13,194,237,1) 0%,RGBA(69,85,239,1) 100%);
}