/*---------------- Responsive ---------------*/
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {

}
@media (max-width: 768px) {
    .logo img {
        display: none;
    }
    .menu-desktop{
        display: none;
    }
    .menu-mobile-tablet{
        position: relative;
    }
    .menu-mobile-tablet .menu-bars{
        position: absolute;
        top: 40%;
    }
    .menu-mobile-tablet .menu-bars button{
        border: none;
        background: none;
    }
    .menu-mobile-tablet .menu-bars .fa{
        font-size: 18px;
    }
    .menu-mobile-tablet .logo-brand{
        text-align: center;
    }
    .slider-banner, .slider-banner .banner, .slider-banner .banner .banner-image{
        height: 430px;
    }
    .slider-banner .banner .banner-detail .container{
        height: 410px;
    }
    .slider-banner .banner .banner-detail .container .img-dot img{
        height: 330px;
    }
    .slider-banner .banner .banner-detail .container .banner-title{
        font-size: 225%;
    }
    .slider-banner .banner .banner-detail .container .banner-detail-first{
        height: 130px;
    }
    .slider-banner .banner .banner-detail .container .banner-detail-first .banner-text .btn-call{
        padding: 10px 15px 10px 15px;
    }
    
    .about-us .box-inner{
        padding-left: 15px;
        padding-right: 160px !important;
    }
    .about-us .box-image, .about-us .box-image .image-about-us{
        height: 500px;
        margin-top: 10px;
    }
    .about-us .box-image .image-about-us{
        right: 0;
    }
    .about-us .about-us-inner{
        height: 500px;
        align-items: center;
    }
    .beauty-spa .beauty-spa-inner{
        height: 580px;
    }
    .beauty-spa .beauty-spa-inner:before{
        top: 32.5%;
    }
    .beauty-spa .box-image{
        padding-left: 0;
        padding-right: 0;
    }
    .beauty-spa .box-image, .beauty-spa .box-image .image1, .beauty-spa .box-image .image2, .beauty-spa .box-image .image3{
        height: 280px;
    }
    .business{
        padding-bottom: 500px;
    }
    .business .business-inner{
        background:none;
        height:650px;
        align-items:unset;
    }
    .business .business-inner .box-inner{
        padding-top: 10%;
        margin-right:0;
        background: #FFFFFF;
        padding-bottom: 10%;
    }
    .business .business-inner .box-image{
        margin: 25px auto;
    }
    .business .business-inner .box-image .image-business
    {
        right: 25%;
        bottom: 40px;
        top: 0;
    }
    .e-gift .box-image .image-e-gift{
        width: 360px !important;
        background-position: 25% 50%;
    }
    .line-bottom{
        display: none;
    }
}
@media (max-width: 767px) {
    .slider-banner .banner .banner-detail .container .img-dot img{
        height: 200px !important;
    }
    .slider-banner .banner .banner-detail .container .img-dot{
        bottom: -10px;
    }
    .slider-banner .banner .banner-detail .container .banner-detail-first .banner-text{
        text-align: center !important;
    }
    .slider-home, .slider-home .sliders .slider-1 .box-image, .slider-home .sliders .slider-1 .box-image .image{
        height: 350px;
    }
    .slider-home, .slider-home .sliders .slider-2 .box-image, .slider-home .sliders .slider-2 .box-image .image{
        height: 350px;
    }
    .slider-home, .slider-home .sliders .slider-3 .box-image, .slider-home .sliders .slider-3 .box-image .image{
        height: 350px;
    }
    .slider-home, .slider-home .sliders .slider-4 .box-image, .slider-home, .slider-home .sliders .slider-5 .box-image{
        height: 350px;
    }
    .slider-home .sliders .slider-4 .box-image .container, .slider-home .sliders .slider-5 .box-image .container{
        height: 350px;
    }
    .slider-home .sliders .slider-4 .box-inner, .slider-home .sliders .slider-5 .box-inner{
        height: auto;
        justify-content: left;
    }
    .slider-home .sliders .slider-4 .box-image .box-inner h1{
        font-size: 24px;
    }
    .slider-home .sliders .slider-5 .box-image .box-inner h1{
        font-size: 16px;
    }
    .slider-home .sliders .slider-5 .box-image .box-inner p{
        font-size: 24px;
    }
    .slider-home .sliders .slider-3 .box-inner h1, .slider-home .sliders .slider-3 .box-inner p{
        text-align: center !important;
        color: #FFFFFF !important;
    }
    .slider-home .sliders .slider-2 .box-image .image .box-inner h1{
        font-size: 32px;
    }
    .slider-home, .slider-home .sliders .slider-3 .box-image, .slider-home .sliders .slider-3 .box-image .image{
        padding-right: 0;
    }
    .slider-home .sliders .slider-1 .box-image .image .box-inner h1,.slider-home .sliders .slider-1 .box-image .image .box-inner h2{
        font-size: 32px;
    }
    .slider-home .sliders .slider-3 .box-image .image .box-inner h1{
        font-size: 36px;
    }
    .slider-home .sliders .slider-3 .box-image .image .box-inner p{
        font-size: 30px;
    }
    .about-us .box-inner{
        padding-right: 6px !important;
    }
    .about-us .box-inner{
        padding-left: 0;
    }
    .about-us .box-inner h1{
        font-size: 4.2em;
    }
    .beauty-spa .beauty-spa-inner{
        height: auto;
    }
    .beauty-spa .beauty-spa-inner:before{
        display: none;
    }
    .beauty-spa .box-image{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .beauty-spa .box-image .image1, .beauty-spa .box-image .image2, .beauty-spa .box-image .image3{
        padding-left: 120px;
        padding-right: 120px;
    }
    .beauty-spa .beauty-spa-inner .box-inner p{
        font-size: 250%;
    }
    .bg-about-us{
        height: auto;
    }
    .business{
        padding-bottom: 350px !important;
    }
    .e-gift .box-inner{
        height: 250px;
        align-items: end;
    }
    .e-gift .box-image .image-e-gift{
        right: 2% !important;
        left: 2% !important;
        width: 96% !important;
        top: 0 !important;
    }
    .services{
        height: 960px;
    }
    .services .bg-services{
        height: 960px;
    }
    .business{
        padding-bottom: 500px !important;
        padding-top: 50px;
    }
    .business .business-inner{
        justify-content: center !important;
        height: 500px !important;
    }
    .business .business-inner .box-image .image-business{
        right: 2% !important;
        width: 96% !important;
    }
    .business .business-inner .box-inner{
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media (min-width: 769px) {
    .menu-mobile-tablet{
        display: none;
    }
    .navbar-brand img {
        display: none;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}
@media (max-width: 1024px){
    .about-us .box-inner{
        padding-right: 130px
    }
    .e-gift .box-inner{
        justify-content: center;
    }
    .e-gift .box-image .image-e-gift{
        width: 480px;
        right: unset;
        left: 15px;
    }
}