/*---------------- Responsive ---------------*/
@media (min-width: 576px) {
    
}
@media (min-width: 768px) {

}
@media (max-width: 767px) {
    .slider-banner .banner .banner-detail .container .img-dot img{
        height: 200px !important;
    }
    .slider-banner .banner .banner-detail .container .img-dot{
        bottom: -10px;
    }
    .slider-banner .banner .banner-detail .container .banner-detail-first .banner-text{
        text-align: center !important;
    }
    .bg-about-us{
        height: auto;
    }
}
@media (max-width: 768px) {
    .logo img {
        display: none;
    }
    .menu-desktop{
        display: none;
    }
    .menu-mobile-tablet{
        position: relative;
    }
    .menu-mobile-tablet .menu-bars{
        position: absolute;
        top: 40%;
    }
    .menu-mobile-tablet .menu-bars button{
        border: none;
        background: none;
    }
    .menu-mobile-tablet .menu-bars .fa{
        font-size: 18px;
    }
    .menu-mobile-tablet .logo-brand{
        text-align: center;
    }
    .slider-banner, .slider-banner .banner, .slider-banner .banner .banner-image{
        height: 430px;
    }
    .slider-banner .banner .banner-detail .container{
        height: 410px;
    }
    .slider-banner .banner .banner-detail .container .img-dot img{
        height: 330px;
    }
    .slider-banner .banner .banner-detail .container .banner-title{
        font-size: 225%;
    }
    .slider-banner .banner .banner-detail .container .banner-detail-first{
        height: 130px;
    }
    .slider-banner .banner .banner-detail .container .banner-detail-first .banner-text .btn-call{
        padding: 10px 15px 10px 15px;
    }
}
@media (min-width: 769px) {
    .menu-mobile-tablet{
        display: none;
    }
    .navbar-brand img {
        display: none;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}