.slider-banner{
    width: 100%;
    height: 700px;
}

.slider-banner .banner{
    height: 700px;
    position: relative;
}
.slider-banner .banner .banner-one{
    filter: blur(5px);
}
.slider-banner .banner .banner-two{
    filter: blur(4px);
}
.slider-banner .banner .banner-three{
    filter: blur(3px);
}
.slider-banner .banner .banner-image{
    height: 700px;
}
.slider-banner .banner .banner-image img{
    object-fit:cover;
    position: absolute;
    top: -40%;
}
.slider-banner .banner .banner-detail{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.slider-banner .banner .banner-detail .container{
    width: 100%;
    max-width: 1180px;
    height: 680px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.slider-banner .banner .banner-detail .container .row, .slider-banner .banner .banner-detail .container .banner-detail-first,  .slider-banner .banner .banner-detail .container .banner-detail-last{
    display: flex;
    align-items: center;
    justify-content: start;
}
.slider-banner .banner .banner-detail .container .banner-detail-first{
    position: relative;
    height: 400px;
}
.slider-banner .banner .banner-detail .container .banner-detail-first .banner-text{
    width: 100%;
}
.slider-banner .banner .banner-detail .container .banner-detail-first .banner-text .btn-call{
    padding: 20px 30px 20px 30px;
    background-color: #000000;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
}
.slider-banner .banner .banner-detail .container .img-dot{
    position: absolute;
    right: 15px;
}
.slider-banner .banner .banner-detail .container .banner-title{
    font-family: 'Inter','Arial';
    color: #000000;
    font-size: 300%;
    text-shadow: 2px 2px 5px RGBA(255,255,255,1);
    line-height: 1.5;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    font-weight: bold;
    position: relative;
    z-index: 1;
}